.photo{
    // height: 450px;
    padding: 10px;
    width: 100%;
}

.portfolio{
    background: #acac9e;
        display: flex;
        flex-wrap: wrap;
    .portfolio__photo{
        display: flex;
    width: 25%;
    overflow: hidden;
    height: 500px;
    }

}
