.privacy{
    margin: 30px 200px;
    .privacy__title{
        font-family: Calibri;
        font-weight: 500;
        line-height: 1.2;
        font-size: 35px;
        margin-bottom: 20px;
    }
    .privacy__description{
        text-align: start;
        color: #818182;
        background-color: #fefefe;
        padding: 20px;
    }
}
